{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAO KANEKO ポートフォリオ</title>

    <!-- フォントの読み込み -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- cssを読み込む -->
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/top_ress.css' %}"> -->

    <!-- アイコンの読み込み -->
    <link rel="shortcut icon" href="{% static 'images/top/favicon.ico' %}" />
</head>

<body style="margin: 0;">
    <div class="wrapper">

        <!-- header -->
        <header class="header ">
            <div class="container">
                <h1 class="header-logo">
                    <a href=".">MAO KANEKO</a>
                </h1>
                <nav class="gnav">
                    <ul class="gnav-list">
                        <li class="gnav-item"><a href="#works">WORKS</a></li>
                        <li class="gnav-item"><a href="#skill">SKILL</a></li>
                        <li class="gnav-item"><a href="#about">ABOUT</a></li>
                        <li class="gnav-item"><a href="#contact">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- /header -->

        <main class="content">

            <!-- mv -->
            <div class="mv">
                <div class="mv-container">
                    <p class="mv-title">MAO KANEKO</p>
                    <p class="mv-subtitle">PORTFOLIO</p>
                    <p class="mv-text">
                        <br class="sp-only">ご覧いただきありがとうございます。<br>
                        <br class="sp-only">下記に私の制作物やスキル、そして自己紹介がありますのでご確認ください。<br>
                    </p>
                </div>
            </div>
            <!-- /mv -->

            <!-- works -->
            <section class="works section" id="works">
                <div class="container">
                    <h2 class="title">WORKS</h2>
                    <h2 class="sub-title1">Webアプリ</h2>
                    <div class="works-list">
                        <!-- Your Diary -->
                        <a class="works-item" href="https://maokaneko.com/diary/top/" target="_blank">
                            <div class="works-img"><img src="{% static 'images/top/your-diary.jpg' %}" alt="" />
                            </div>
                            <p class="works-name">Your Diary</p>
                            <p class="works-info">言語:Python / フレームワーク:Django / データベース:PostgreSQL / フロントエンド:One Page
                                Wonder</p>
                        </a>

                        <a class="works-item" href="works-template.html">
                            <div class="works-img"><img src="{% static 'images/top/works-dummy-thumb.jpg' %}" alt="" />
                            </div>
                            <p class="works-name">作品名が入る</p>
                            <p class="works-info">Design / Coding(Responsive) / WordPress</p>
                        </a>

                        <!-- <a class="works-item" href="works-template.html">
                            <div class="works-img"><img src="images/top/works-dummy-thumb.jpg" alt="" />
                            </div>
                            <p class="works-name">作品名が入る</p>
                            <p class="works-info">Design</p>
                        </a> -->
                    </div>

                    <h2 class="sub-title2" style="margin-top: 80px;">Webデザイン</h2>
                    <div class="works-list">
                        <a class="works-item">
                            <div class="works-img"><img src="{% static 'images/top/body_soup.jpeg' %}" alt="" />
                            </div>
                            <p class="works-name">KLabのボタニカルボディソープ</p>
                            <p class="works-info">Banner Design</p>
                        </a>
                        <a class="works-item">
                            <div class="works-img"><img src="{% static 'images/top/ks_burger.jpeg' %}" alt="" />
                            </div>
                            <p class="works-name">K's Burgerのおすすめ商品</p>
                            <p class="works-info">Banner Design</p>
                        </a>
                        <a class="works-item">
                            <div class="works-img"><img src="{% static 'images/top/ksflower.jpeg' %}" alt="" />
                            </div>
                            <p class="works-name">感謝の気持ちを伝えよう</p>
                            <p class="works-info">Banner Design</p>
                        </a>
                        <a class="works-item">
                            <div class="works-img"><img src="{% static 'images/top/k_net.jpeg' %}" alt="" />
                            </div>
                            <p class="works-name">K NET光</p>
                            <p class="works-info">Banner Design</p>
                        </a>
                        <a class="works-item">
                            <div class="works-img"><img src="{% static 'images/top/soujiki.jpeg' %}" alt="" />
                            </div>
                            <p class="works-name">Vacuum Cleaner</p>
                            <p class="works-info">Banner Design</p>
                        </a>
                        <a class="works-item">
                            <div class="works-img"><img src="{% static 'images/top/doubutuen.jpeg' %}" alt="" />
                            </div>
                            <p class="works-name">わくわく動物園</p>
                            <p class="works-info">Banner Design</p>
                        </a>
                    </div>
                </div>
            </section>
            <!-- /works -->

            <!-- skill -->
            <section class="skill section" id="skill">
                <div class="container">
                    <h2 class="title">SKILL</h2>
                    <div class="skill-list">
                        <div class="skill-item">
                            <p class="skill-img"><img src="{% static 'images/top/python_icon.png' %}" alt=""></p>
                            <div class="skill-body">
                                <h3 class="skill-name">Python & Django</h3>
                                <p class="skill-text">
                                    変数やデータ型、if文、for文、関数などの基礎知識。
                                    <br>Djangoの基本的なディレクトリ構造、モデル・ビュー・テンプレート(MTV)の概念、URLパターンなどの基礎知識。それらを用いたWEBアプリ作成。
                                </p>
                            </div>
                        </div>
                        <div class="skill-item">
                            <p class="skill-img"><img src="{% static 'images/top/html&css_icon.png' %}" alt=""></p>
                            <div class="skill-body">
                                <h3 class="skill-name">HTML & CSS</h3>
                                <p class="skill-text">
                                    タグやリンク、スタイリングやレスポンシブデザインなどを使い、シンプルなwebページを構築できる。
                                </p>
                            </div>
                        </div>
                        <div class="skill-item">
                            <p class="skill-img"><img src="{% static 'images/top/ruby_icon.png' %}" alt=""></p>
                            <div class="skill-body">
                                <h3 class="skill-name">Ruby & Ruby on Rails</h3>
                                <p class="skill-text">
                                    変数やデータ型、each文、ハッシュ、関数などの基礎知識。<br>
                                    Railsの基本的なディレクトリ構造、MTCアーキテクチャの概念、Active Recordやヘルパーメソッドなどの基礎知識。それらを用いたWEBアプリ作成。
                                </p>
                            </div>
                        </div>
                        <div class="skill-item">
                            <p class="skill-img"><img src="{% static 'images/top/javascript_icon.png' %}" alt=""></p>
                            <div class="skill-body">
                                <h3 class="skill-name">javascript</h3>
                                <p class="skill-text">
                                    基本の文法やDOM操作、イベント処理などの基礎知識。
                                </p>
                            </div>
                        </div>
                        <div class="skill-item">
                            <p class="skill-img"><img src="{% static 'images/top/postgresql_icon.png' %}" alt=""></p>
                            <div class="skill-body">
                                <h3 class="skill-name">PostgreSQL</h3>
                                <p class="skill-text">
                                    リレーショナルデータベース(RDB)やデータベース管理システム (DBMS)についての知識、CREATE TABLE文
                                    やSELECT文などの基本的なSQLの理解と書き方などの基礎知識。
                                </p>
                            </div>
                        </div>
                        <div class="skill-item">
                            <p class="skill-img"><img src="{% static 'images/top/phto&ill_icon.png' %}" alt=""></p>
                            <div class="skill-body">
                                <h3 class="skill-name">Photoshop & Illustrator</h3>
                                <p class="skill-text">
                                    基本的なツールの使用方法やレイヤーの基本的な操作、基本的な図形の描画と編集などの基本知識。
                                </p>
                            </div>
                        </div>
                        <div class="skill-item">
                            <p class="skill-img"><img src="{% static 'images/top/github_icon.png' %}" alt=""></p>
                            <div class="skill-body">
                                <h3 class="skill-name">Git/Github</h3>
                                <p class="skill-text">
                                    コマンド（add、commit、push、pullなど）やブランチ、マージ、プルリクエストなどの基礎知識。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /skill -->

            <!-- about -->
            <section class="about section" id="about">
                <div class="container">
                    <h2 class="title">ABOUT</h2>
                    <div class="profile">
                        <p class="profile-img">
                            <img src="{% static 'images/top/ver4.png' %}" alt="">
                        </p>
                        <div class="profile-body">
                            <p>
                                沖縄県出身。趣味は釣り、ゲーム、サッカー観戦。大学卒業後、夢である世界一周を実現するため行動していたが、コロナ禍により一時的にその計画を断念。その後、興味があったwebエンジニアになることを決意し、専門のスクールに通いながら、webアプリ開発の基礎知識を習得しています。
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /about -->

            <!-- contact -->
            <section class="contact section" id="contact">
                <div class="container">
                    <h2 class="title">CONTACT</h2>
                    <p class="lead">
                        お問い合わせは、<br class="sp-only">メールにてお願いいたします。
                    </p>
                    <div class="contact-list">
                        <!-- <a class="contact-item" href="https://twitter.com/" target="_blank" rel="noopener">Twitter</a>
                        <a class="contact-item" href="https://www.instagram.com/" target="_blank"
                            rel="noopener">Instagram</a> -->
                        <span class="contact-item">mkch1999@gmail.com</span>
                    </div>
                </div>
            </section>
            <!-- /contact -->
            <div class="page-top" id="js-page-top">
                <span class="material-icons-outlined">expand_less</span>
            </div>
        </main>

        <!-- footer -->
        <footer class="footer">
            <div class="copyright">&copy;MAO KANEKO</div>
        </footer>
        <!-- /footer -->

    </div>

    <!-- javascriptの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/top.js' %}"></script>

</body>

</html>